body {
    color: #fff;
    background-color: #061121;
    font-family: acumin-pro, sans-serif;

    /* altura configurada apenas para demonstrar o botão fixo */
    height: 1000px;
}


/* ==================== MOBILE FIRST ==================== */
/* ----- a idéia é configurar de forma padronizada os principais elementos da aplicação ----- */
p {
    font-size: 1.6rem;
}

@media (min-width: 768px) {
    p {
        font-size: 1.4rem;
    }
}